<footer class="bg-white border-gray-200 border-t">
    <div class="px-4 sm:px-12 py-4 sm:text-left text-center">
        <span class="relative flex flex-row flex-wrap text-black text-sm">
            © {{ currentYear }} 
            <a href="https://nexorixtech.com" class="flex flex-nowrap font-medium hover:underline">
                <img class="w-[6rem]" src="assets/img/logo/contraste_blanco_sin_slogan-removebg-preview.png" alt="">
                <div class="left-[8.5rem] absolute font-bold">™</div>
            </a>
            <div class="pl-2">Todos los derechos reservados.</div>
        </span>
    </div>
</footer>